<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="border-bottom: 3px solid black;"
    aria-label="Primary navigation">

    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <span class="sitetitle">{{ site.name }} &gt;_</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#liddlenavbar"
        aria-controls="liddlenavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="liddlenavbar">

        <!-- Begin Menu -->

        <ul class="navbar-nav ml-auto">
            {% if page.url == "/" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}

                <a class="nav-link" href="{{ site.baseurl }}/"{% if page.url == "/" %} aria-current="page"{% endif %}>Home</a>
            </li>

            {% if page.url == "/blog/" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/blog"{% if page.url == "/blog/" %} aria-current="page"{% endif %}>Blog</a>
            </li>

            {% for pagelink in site.pages %}
                {% if pagelink.url == "/" %}
                {% elsif pagelink.url == "/404.html" %}
                {% elsif pagelink.nav_exclude %}
                {% elsif pagelink.title == nil or pagelink.title == "" %}
                {% elsif pagelink.title == "Categories" %}
                {% elsif pagelink.title == "Tags" %}
                {% elsif pagelink.url contains "/category/" %}
                {% elsif pagelink.url contains "/blog/" %}
                {% else %}
                    {% if page.url == pagelink.url %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif %}
                        <a class="nav-link" href="{{ site.baseurl }}{{ pagelink.url }}"{% if page.url == pagelink.url %} aria-current="page"{% endif %}>{{ pagelink.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- End Menu -->

    </div>
</nav>
<!-- End Navigation
================================================== -->