<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="border-bottom: 3px solid black;">

    <a class="navbar-brand" href="https://liddlelaboratory.com/">
        <h1 class="sitetitle">{{ site.name }} >_</h1>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#liddlenavbar"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="liddlenavbar">

        <!-- Begin Menu -->

        <ul class="navbar-nav ml-auto">
            {% if page.url == "/" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}

                <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
            </li>

            {% if page.url == "/blog/" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
            </li>

            {% for pagelink in site.pages %}
                {% if pagelink.url == "/" %}
                {% elsif pagelink.url == "/404.html" %}
                {% elsif pagelink.title == nil or pagelink.title == "" %}
                {% elsif pagelink.title == "Categories" %}
                {% elsif pagelink.title == "Tags" %}
                {% elsif pagelink.url contains "/category/" %}
                {% elsif pagelink.url contains "/blog/" %}
                {% else %}
                    {% if page.url == pagelink.url %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif %}
                        <a class="nav-link" href="{{ site.baseurl }}{{ pagelink.url }}">{{ pagelink.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                <a class="nav-link" href="https://stm32.liddlelaboratory.com">STM32H7 Tutorial</a>
            </li>
        </ul>

        <!-- End Menu -->

    </div>
</nav>
<!-- End Navigation
================================================== -->